// UI Colors
$color-primary: #260F00;
$color-secondary: #FFE694;
$color-accent: #E7A026;

// Font Colors
$color-font-highlight: #FFDC50;
$color-font-light: #FFFFFF;
$color-font-error: #FF0000;
$color-font-dark: #000000;

// Typography
$font-primary: 'Gabriela', serif;
$font-secondary: 'Maitree', serif;