@use '../shared/styles/variables' as v;

.home-container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
}

.home-banner {
    max-width: 100vw;
    height: 100vh;
    position: relative;
}

.phrase-container{
    position: sticky;
    color: v.$color-font-light;
    padding: .9375rem;
    width: 18.75rem;
    position: absolute;
    right: 0;
    font-family: v.$font-secondary;
}

.background-video{
    position: fixed;
    left: 500;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    object-fit: cover;
}

.banner-button{
    position: absolute;
    bottom: 1.25rem; 
    left: 50%;
    transform: translateX(-50%);
    background-color: v.$color-primary;
    font-family: v.$font-primary;
    color: v.$color-font-highlight;
    border: 2px solid v.$color-font-highlight

}