@use '../shared/styles/variables' as v;

.register-container{
    width: 100vw;
    height: 100vh;
    background-color: v.$color-primary;
    padding: 0;
    margin: 0;
}

.register-section-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6.25rem;
}

.register-image{
    width: 50vw;
    height: 83vh;
    object-fit: cover;
}

.register-form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-left: 6.25rem;
    font-family: v.$font-primary;
    gap: 2.1875rem;
}

.register-field{
    display: flex;
    flex-direction: column;

}

.register-label{
    color: v.$color-font-highlight;
}

.register-input{
    width: 20.625rem;
    height: 1.5625rem;
    border-radius: .625rem;
    background-color: v.$color-secondary;
    font-family: v.$font-primary;
    padding-left: 1.25rem
}

.register-button{
    @include v.boton-estyle;
    width: 8.125rem
}