.volume-details-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
}

.volume-modal-content{
    background: #1a1a2e;
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 800px;
  height: 31.25rem;
  width: 90%;
}

.volume-modal-image{
    width: 26.875rem;
}

.volume-pricing-container{
    display: flex;
}