@use '../../shared/styles/variables' as v;

.volume-list {
  max-width: 100vw;
  width: 100%;
  box-sizing: border-box;
}

.volume-list-container {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: v.$color-secondary;
  overflow-x: hidden;
}

.volume-list-elements {
  width: 100%;
  padding-top: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters-container {
  display: flex;
  gap: .625rem;
  height: 2.5rem;
  margin-bottom: .9375rem;
}

.volume-search {
  border: solid .0625rem black;
  border-radius: 1.25rem;
  font-family: v.$font-secondary;
  padding-left: .625rem;
}

.filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: v.$font-primary;
  background-color: v.$color-primary;
  color: v.$color-font-highlight;
  font-size: .9375rem;
  border: 1px solid;
  border-radius: .625rem;
  padding: .9375rem;
}

.category-list {
  padding: .8125rem;
  position: absolute;
  top: 230px;
  left: 53%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  background-color: v.$color-primary;
  border-radius: 1.25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  color: v.$color-font-light;
  font-family: v.$font-secondary;
}

.volume-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  cursor: pointer;
}

.volume-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  height: 13.4375rem;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: v.$color-primary;
  font-family: v.$font-secondary;
  color: v.$color-font-light;
  overflow-x: hidden;

  div {
    margin-top: .9375rem;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1rem;
  }
}

.volume-card img {
  width: 12.5rem;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}